.banner1-frontpage, .banner2-frontpage{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.menu-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-image{
  width: 240px;
  height: 170px;
  margin: 20px;
}

.frontpage-image {
  width: 300px;
  height: 300px;
  margin-left: 40px;
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgb(108,117,125) 0px 0px 0px 1px;
  margin: 5px 0px 5px 0px;
}

a{
  text-decoration: none;
  color: black;
}