.banner1-frontpage, .banner2-frontpage{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner1-frontpage-text{
  
}
.banner1-frontpage-button{

}


.frontpage-image {
  width: 300px;
  height: 300px;
  margin-left: 40px;
}