<div class="container">
  <div class="row">
    <% @desserts.each do | product | %>
      <div class="col-md-6">
        <h3><%= product.name %> </h3>
        <h5><%= product.description %></h5>
        <div class="d-flex justify-content-between my-3 border-bottom">
          <h4><%= number_to_currency(product.price) %></h4>
          <%= button_to "Add to cart", order_products_path(:product_id => product.id) %>
        </div>
      </div>
    <% end%>
  </div>
</div>