<div class="container"></div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Order Status</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do | order | %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.order_status %></td>
          <td><%= order.total_price %></td>
          <td>
            <%= link_to 'Show', order, class: "btn btn-outline-primary my-1" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>