<div class="container">
    <ul>
      <div>
        <% @orders.each do | order | %>
          <% if order.order_status == "new_order" %>
            <div class="my-3 border-bottom">
              <div class="d-flex justify-content-between">
                <div>
                  <div>ORDER ID: <%= order.id %></div>
                  <ul>
                    <% order.order_products.each do | item | %>
                      <div><%= item.product.name %> / Quantity: <%= item.quantity %></div>
                    <% end %>
                  </ul>
                </div>
                <div>
                  <%= link_to 'Ready', ready_order_path(order), data: { turbo_method: "patch", turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger my-1", remote: true %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %> 
      </div>
  </ul>
</div>