// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button_user";
@import "address_autocomplete";


.responsive-image {
  max-width: 30%; 
  width: 100%; 
  height: auto; 
}